@import url("https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Jost:ital,wght@1,100..900&display=swap");

:root {
	--primary-color: #e16a54;
	--secondary-color: #9f5255;
	--hover-color: #f39e60;
	--frame-color: #ffffff;

	--font-jaro: "Jaro", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	--font-jost: "Jost", Verdana, sans-serif;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100dvw;
	min-height: 100dvh;
}

.app {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
}

.app__header {
	width: 100%;
	height: 120px;
	background: var(--secondary-color);
}

.app__title {
	font-family: var(--font-jaro);
	letter-spacing: 2px;
	font-weight: 200;
	color: var(--frame-color);
	padding: 0.2rem;
	text-align: center;
}

.controls {
	width: 96%;
	height: 60px;
	padding: 1rem;

	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.controls__section {
	height: 50px;
	display: grid;
	place-content: center;
}

.controls__section button {
	width: 100%;
	padding: 0.6rem;
	background: var(--frame-color);
	border: none;
	border-radius: 5px;
	color: var(--secondary-color);
	font-size: clamp(1rem, 2vw, 1.2rem);
	font-weight: 800;
	font-family: var(--font-jost);

	cursor: pointer;
	transition: all 0.3s ease-in;
}

.controls__section--colors #colorMode {
	border: 6px solid var(--frame-color);
	border-radius: 10px;
}

.controls__section button:hover {
	color: var(--frame-color);
	background: var(--hover-color);
}

.etch-sketch {
	width: 96%;
	min-height: 80dvh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	background: transparent;
}

.etch-sketch__frame {
	width: 100%;
	max-width: 900px;
	height: 50dvh;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 10px auto;

	background: var(--primary-color);
	border-radius: 15px;
}

.etch-sketch__screen {
	width: 100%;
	height: 100%;

	display: flex;
	flex-wrap: wrap;
	aspect-ratio: 1 / 1;
	overflow: hidden;

	background: var(--frame-color);
	border-radius: 9px;
}

.screen__pixel {
	background: var(--frame-color);
	font-size: 1rem;
}

.app__footer {
	width: 100%;
	padding: 1px 10px;
}

.footer__text {
	font-size: clamp(0.2rem, 3vw, 0.5);
	font-family: var(--font-jost);
	text-align: center;
}

.footer__text a {
	text-decoration: none;
	font-weight: 600;
	color: var(--primary-color);
	transition: color 0.3s ease-in;
}

.footer__text a:hover {
	color: var(--secondary-color);
}
